
/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: #f1ecea;
}

ul{ 
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 2em;
}

img{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 40px;
}

/* Selector de clase */

.colormenu{
    color:white;
    text-decoration: underline;
    font-weight: bold;
}

.listaelementos{
    list-style:disc;
    text-align: left;

    display: list-item;
    margin: 0px;
    padding: 3px;
}

.encabezado{ 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 44px;
}

.barraNavegacion{
    background-color: #b46424;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: white;
    line-height: 2;
    }

.pie{
    background-color:#3a251c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.contenido{
    background-color: #362f2f;
    margin: 0em;
    text-align: center;
    color: white;
    display: inline-block;
}

.aside{
    background-color: #b58c7c;
    margin: 0em;
    color: white;
    vertical-align: top;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.estados-aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    padding: 5px 100px;
    color: white;
}

.encabezado-articulo{
    text-align: justify;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em 1em;
}

.encabezado-aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 10px;
    color: white;
    font-size: 17px;
    
}

/* Selector ID */

#contenedor{
    width: 900px;
    height: 1000px;
    max-width: 0 auto;
}

#encabezado {
    height: 15%;
    background-color:#3a251c;
}
#menu{
    height: 5%;
}

#contenido{
    height: 70%;
    width: 64.5%;
}
#fueraSeccion{
    height: 70%;
    width: 35%;
}

#pie{
    height: 10%;
}